.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    position: relative;
}

#carousel-container-1 {
    justify-content: flex-start;
    padding-top: 3rem;
    padding-left: 10rem;
}

#carousel-container-2 {
    justify-content: flex-end;
    padding-top: 3rem;
    padding-right: 10rem;
}

.title-container1,
.title-container2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    z-index: 1;
}

.title-container1 {
    right: 30%;
}

.title-container2 {
    left: 30%;
}

.tirecarousel1 {
    font-family: "Sedan SC", serif;
    margin-right: 1.5rem;
    color: #04bf7b;
}

.tirecarousel2 {
    font-family: "Sedan SC", serif;
    margin-left: 1.5rem;
    color: #04bf7b;
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    max-width: 900px;   
}

.carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item.active {
    opacity: 1;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    background-color: #cbffe665;
    color: #948bff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.prev-button:hover,
.next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.prev-button {
    left: 0.5rem;
}

.prev-button:hover {
cursor: url('../img samourai/curseur.png'), auto;
color: #04bf7b;
}

.next-button {
    right: 0.5rem;
}

.next-button:hover {
cursor: url('../img samourai/curseur.png'), auto;
color: #04bf7b;
}

.carousel-inner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
