.bushido-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  ;
  padding-top: 5rem;
}

.bushido-bg {
  position: relative;
  flex: 1;
  padding-left: 1.5rem;
}

.bushido-bg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img enfants/arrbushi.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 5rem center;
  opacity: 0.2;
  /* Ajuste la transparence de l'image de fond */
}

.titlebusido {
  font-size: 1.8rem;
}


.japantiltel {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-right: 1rem;
  padding-top: 1rem;
  transition: transform 0.3s ease;
}

.japantiltel:hover {
  transform: scale(1.3);
}

.bushido {
  text-align: left;
  padding-left: 10rem;
  color: #613596;
  position: relative;
  /* Permet de positionner le contenu au-dessus du pseudo-élément ::before */
  z-index: 1;
  /* Positionne le contenu au-dessus du pseudo-élément ::before */
}

#bushihhover:hover {
  color: #ffcfea;
}

ul li {
  margin-bottom: 0.8rem;
  font-family: "Sedan SC", serif;
}

.bushido-text {
  text-align: center;
  color: #613596;
  flex: 1;
  margin: 0;
  padding-right: 2rem;
}

.titletabtwo {
  font-family: Merriweather, sans-serif;
  padding: 0;
  font-style: italic;
  font-size: 1.5rem;
  color: #049dd9;
  text-decoration: underline #049dd9;
}

.tiltesection {
  font-family: "Bebas Neue", sans-serif;
  font-size: 1rem;
  padding-top: 1rem;
  color: #049dd9;
  font-family: Merriweather, sans-serif;
  text-decoration: underline #049dd9;
  font-weight: bold;
}

.adress {
  font-family: Merriweather, sans-serif;
  transition: transform 0.3s ease;
}

#adresscolor a {
  color: #049dd9;
}

#adresscolor a:hover {
  color: #613596;
}

.adresscolor2 {
  color: #049dd9;
}

.adress:hover {
  transform: scale(1.1);
}

.hourly {
  color: #049dd9;
  font-family: Merriweather, sans-serif;
  transition: transform 0.3s ease;
}

.hourly:hover {
  transform: scale(1.1);
}

.contact:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}

.contacttiltle {
  color: #049dd9;
  font-family: Merriweather, sans-serif;
  text-decoration: underline #049dd9;
  font-weight: bold;
}

.namedeboffle {
  color: #049dd9;
  font-family: Merriweather, sans-serif;
  font-style: italic;
  font-weight: 800;
}

.numberphone {
  color: #049dd9;
  font-size: 1.4rem;
}

.Bureau {
  text-align: left;
  flex: 1;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.Bureautiltle {
  font-family: Merriweather, sans-serif;
  font-style: italic;
  font-size: 1.5rem;
  color: #049dd9;
  text-decoration: underline #049dd9;
  padding-top: 1rem;
}

.personoffice {
  color: #049dd9;
  font-family: Merriweather, sans-serif;
}

.perontech {
  color: #049dd9;
  font-family: Merriweather, sans-serif;
}

.supervisor {
  color: #049dd9;
  font-family: Merriweather, sans-serif;
}