#inscriptions {
    padding: 2rem;
}

.tiltle-registration {
    padding-top: 2rem;
    text-decoration: underline;
    color: #049dd9;
    font-family: "Sedan SC", sans-serif;
    text-align: center;
    font-size: 2.6rem;
}

.text-registration {
    color: #049dd9;
    font-family: Merriweather, sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.section-title-registration {
    font-family: Merriweather, sans-serif;
    font-style: italic;
    font-size: 1.5rem;
    color: #049dd9;
    text-decoration: underline #049dd9;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.table-registration {
    color: #049dd9;
    font-family: Merriweather, sans-serif;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.section-registration {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1rem;
    padding-top: 1rem;
    color: #049dd9;
    font-family: Merriweather, sans-serif;
    text-decoration: underline #049dd9;
    font-weight: bold;
}

.adress-registration {
    font-family: Merriweather, sans-serif;
    transform-origin: left center;
    transition: transform 0.3s ease;
    padding-left: 1rem;
}

#color-registration a {
    color: #049dd9;
}

#color-registration a:hover {
    color: #613596;
}

.adress-registration:hover {
    transform: scale(1.1);
}

#section-title-adress {
    padding: 0;
    padding-left: 1rem;
}

.namedeboffle-registartion {
    color: #049dd9;
    font-family: Merriweather, sans-serif;
    font-style: italic;
    font-weight: 800;
}

.numberphone-registartion {
    color: #049dd9;
    font-size: 1.4rem;
}

.bulletin-certificat {
    padding-left: 1rem;
    transform-origin: left center;
    transition: transform 0.3s ease;
    font-weight: bold;
    font-style: oblique 50deg;;
}

.bulletin-certificat:hover {
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.bulletin-certificat a {
    color: #049dd9;
}

.bulletin-certificat a:hover {
    color: #BB1AC1;
}

/* Ajout de règles pour rendre la page responsive */
@media only screen and (min-width: 420px) and (max-width: 1024px) {
    /* Réduire la taille de la police pour les petits écrans */
    .tiltle-registration {
        font-size: 2rem;
    }

    .section-title-registration {
        font-size: 1.2rem;
    }

    .text-registration {
        font-size: 0.9rem;
    }

    .table-registration {
        font-size: 0.9rem;
    }

    .namedeboffle-registartion {
        font-size: 1.2rem;
    }

    .numberphone-registartion {
        font-size: 1.2rem;
    }
}