@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Briem+Hand:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Briem+Hand:wght@100..900&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@400..700&family=Sedan+SC&display=swap');

body {
  cursor: url('../img samourai/curseur.png'), auto;
  background-color: #Afe9ff;
}

h1 {
  padding-bottom: 2rem;
  font-size: 4rem;
  text-shadow: 2px 1px 1px #feffbe;
  font-family: "Sedan SC", serif;
  text-align: center;
  color: #948bff;
}

h2 {
  padding-bottom: 2rem;
  font-size: 2rem;
  text-shadow: 2px 1px 1px #feffbe;
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #948bff;
}

.sous {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
}

p {
  padding-bottom: 2rem;
  font-size: 1.8rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.664);
  color: #4f1bbf;
  font-family: "Dancing Script", cursive;
}

.menu {
  font-family: "Bebas Neue", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: url('../img samourai/curseur.png'), auto;
  color: #feffbe;
}
footer {
  padding-top: 2rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: #cbffe6;
  text-align: center;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
}

.real {
  font-size: 1.2rem;
}

